n8n/workflow_hubspot_integration.json
{
    "name": "SENTINEL - HubSpot Lead Integration",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "sentinel-lead",
                "responseMode": "onReceived",
                "options": {}
            },
            "id": "webhook-lead",
            "name": "Webhook Lead Entry",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                220,
                300
            ],
            "webhookId": "sentinel-lead"
        },
        {
            "parameters": {
                "jsCode": "// Lead Scoring e Enriquecimento\nconst lead = $input.first().json;\nlet score = 0;\nlet tags = [];\nlet priority = 'normal';\n\n// Identificar serviço de interesse\nconst service = (lead.service || lead._subject || '').toLowerCase();\nconst message = (lead.message || '').toLowerCase();\n\n// Scoring por serviço\nif (service.includes('azure') || message.includes('azure') || message.includes('fatura alta')) {\n  score += 30;\n  tags.push('Azure', 'FinOps');\n}\nif (service.includes('microsoft') || service.includes('365') || message.includes('licenciamento')) {\n  score += 25;\n  tags.push('Microsoft 365', 'Licenciamento');\n}\nif (service.includes('backup') || message.includes('backup')) {\n  score += 20;\n  tags.push('Backup', 'Segurança');\n}\nif (service.includes('aws') || message.includes('aws')) {\n  score += 25;\n  tags.push('AWS', 'Cloud');\n}\n\n// Urgência na mensagem\nconst urgentWords = ['urgente', 'imediato', 'rápido', 'hoje', 'agora', 'crítico', 'problema', 'erro'];\nif (urgentWords.some(w => message.includes(w))) {\n  score += 35;\n  tags.push('Urgente');\n  priority = 'high';\n}\n\n// Cargo decisor\nconst decisionMakers = ['cto', 'cio', 'diretor', 'gerente', 'head', 'owner', 'dono', 'ceo', 'sócio'];\nif (decisionMakers.some(r => message.includes(r))) {\n  score += 30;\n  tags.push('Decisor');\n}\n\n// Qualificação\nlet qualification = 'Frio';\nif (score >= 60) {\n  qualification = 'Quente';\n  priority = 'high';\n} else if (score >= 30) {\n  qualification = 'Morno';\n  priority = 'medium';\n}\n\nconst now = new Date();\nconst timestamp = now.toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' });\n\nreturn {\n  ...lead,\n  leadScore: score,\n  qualification: qualification,\n  priority: priority,\n  tags: tags,\n  processedAt: timestamp,\n  source: 'Website SENTINEL'\n};"
            },
            "id": "lead-scoring",
            "name": "Lead Scoring",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                440,
                300
            ]
        },
        {
            "parameters": {
                "resource": "contact",
                "operation": "upsert",
                "email": "={{ $json.email }}",
                "additionalFields": {
                    "firstName": "={{ $json.name.split(' ')[0] }}",
                    "lastName": "={{ $json.name.split(' ').slice(1).join(' ') || 'Lead' }}",
                    "phone": "={{ $json.phone }}",
                    "company": "={{ $json.company }}",
                    "message": "={{ $json.message }}",
                    "leadScore": "={{ $json.leadScore }}",
                    "lifecycleStage": "lead"
                }
            },
            "id": "hubspot-contact",
            "name": "Create/Update HubSpot Contact",
            "type": "n8n-nodes-base.hubspot",
            "typeVersion": 2,
            "position": [
                660,
                200
            ],
            "credentials": {
                "hubspotOAuth2Api": {
                    "id": "HUBSPOT_CREDENTIAL_ID",
                    "name": "HubSpot OAuth2"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "hot-lead",
                            "leftValue": "={{ $json.qualification }}",
                            "rightValue": "Quente",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "id": "check-hot",
            "name": "É Lead Quente?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                660,
                400
            ]
        },
        {
            "parameters": {
                "sendTo": "5521994559564@c.us",
                "message": "🔥 *LEAD QUENTE SENTINEL*\n\n📊 Score: {{ $json.leadScore }}\n🏷️ Tags: {{ $json.tags.join(', ') }}\n\n👤 *Nome:* {{ $json.name }}\n📧 *Email:* {{ $json.email }}\n📱 *Telefone:* {{ $json.phone }}\n🏢 *Empresa:* {{ $json.company }}\n🎯 *Serviço:* {{ $json.service }}\n\n💬 *Mensagem:*\n{{ $json.message }}\n\n⏰ {{ $json.processedAt }}\n\n‼️ *LIGAR EM ATÉ 1 HORA*"
            },
            "id": "whatsapp-alert",
            "name": "Alerta WhatsApp",
            "type": "n8n-nodes-base.whatsApp",
            "typeVersion": 1,
            "position": [
                880,
                300
            ]
        },
        {
            "parameters": {
                "fromEmail": "contato@sentinel-tec.com.br",
                "toEmail": "={{ $json.email }}",
                "subject": "Recebemos seu contato - SENTINEL Tecnologia",
                "htmlBody": "<!DOCTYPE html><html><head><style>body{font-family:Arial,sans-serif;line-height:1.6;color:#333}.header{background:linear-gradient(135deg,#667eea 0%,#764ba2 100%);color:white;padding:30px;text-align:center}.content{padding:30px}.cta{display:inline-block;background:#667eea;color:white;padding:15px 30px;text-decoration:none;border-radius:5px;margin:20px 0}.footer{background:#f5f5f5;padding:20px;text-align:center;font-size:12px}</style></head><body><div class='header'><h1>🛡️ SENTINEL Tecnologia</h1></div><div class='content'><h2>Olá, {{ $json.name }}!</h2><p>Obrigado pelo seu interesse nos serviços da <strong>SENTINEL Tecnologia</strong>!</p><p>Recebemos sua solicitação sobre <strong>{{ $json.service }}</strong> e nossa equipe especializada já está analisando seu caso.</p><p>📞 <strong>Um especialista entrará em contato em breve.</strong></p><p><strong>Enquanto isso, você tem direito a:</strong></p><ul><li>✅ Análise gratuita do seu ambiente</li><li>✅ Diagnóstico de otimização de custos</li><li>✅ Proposta personalizada sem compromisso</li></ul><a href='https://sentinel-tec.pages.dev' class='cta'>Conhecer Todos os Serviços</a><p>Ou fale diretamente pelo WhatsApp: <a href='https://wa.me/5521994559564'>+55 21 99455-9564</a></p><p>Atenciosamente,<br><strong>Equipe SENTINEL Tecnologia</strong></p></div><div class='footer'><p>SENTINEL Tecnologia | Consultoria em TI, Cloud e Segurança</p></div></body></html>"
            },
            "id": "welcome-email",
            "name": "Email de Boas-vindas",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                880,
                500
            ]
        }
    ],
    "connections": {
        "Webhook Lead Entry": {
            "main": [
                [
                    {
                        "node": "Lead Scoring",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lead Scoring": {
            "main": [
                [
                    {
                        "node": "Create/Update HubSpot Contact",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "É Lead Quente?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "É Lead Quente?": {
            "main": [
                [
                    {
                        "node": "Alerta WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Email de Boas-vindas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create/Update HubSpot Contact": {
            "main": [
                [
                    {
                        "node": "Email de Boas-vindas",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}